{% extends  "/layouts/Dashboard.twig" %}

{% block content %}
	<div class="project__statistics">
		<div class="heading">
			<h1>Website statistics</h1>
		</div>
		<div class="statistics__cards">
			<ul class="statistics__list">
				<li class="statistic__card">
					<span>
						<i class="fa-solid fa-newspaper"></i>
						Total events:
					</span>
					<span>{{TotalEvents}}</span>
				</li>
				<li class="statistic__card">
					<span>
						<i class="fa-solid fa-trophy"></i>
						Event Accepted
					</span>
					<span>{{TotalEventsAccepted}}</span>
				</li>
				<li class="statistic__card">
					<span>
						<i class="fa-solid fa-hourglass-start"></i>
						pending Event:
					</span>
					<span>{{TotalEventsPending}}</span>
				</li>
				<li class="statistic__card">
					<span>
						<i class="fa-solid fa-layer-group"></i>
						Categories:
					</span>
					<span>{{TotalCategories}}</span>
				</li>
				<li class="statistic__card">
					<span>
						<i class="fa-sharp fa-solid fa-users"></i>
						Total Users:
					</span>
					<span>{{TotalUser}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="charts" style="padding: 0 3rem;">
		<div class="heading">
			<h1>Charts</h1>
		</div>
		<div class="statistics_charts">
			<div class="chart__card">
				<canvas id="courseBycategory" width="600" height="400"></canvas>
			</div>
			<div class="chart__card">
				<canvas id="topThreeTeachers" width="600" height="400"></canvas>
			</div>
		</div>
	</div>
{% endblock %}
