{% extends "./layouts/Base.twig" %}

{% block content %}
	<main class="w-7/12 mx-auto pt-4 pb-12 ">
		<form class="flex flex-col gap-10" action="/organizer/create" method="POST" enctype="multipart/form-data">
			<input type="file" id="file-upload" class="hidden" name="image">
			<div class="group w-full cursor-pointer border-4 border-transparent hover:border-orange border-dotted rounded-xl p-0.5">
				<label for="file-upload" class="upload_file-card relative flex justify-center items-center w-full h-[380px] bg-gray-300 border-1 border-gray-400 rounded-xl shadow-lg overflow-hidden">
					<div class="relative flex justify-center items-center z-3 w-[140px] h-[160px] bg-white rounded-xl shadow-lg cursor-pointer">
						<div class="flex flex-col justify-center items-center gap-3">
							<div class="flex justify-center items-center w-10 h-10 rounded-full bg-gray-200 text-blue-600 group-hover:bg-orange group-hover:text-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="size-5">
									<path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06l-3.22-3.22V16.5a.75.75 0 0 1-1.5 0V4.81L8.03 8.03a.75.75 0 0 1-1.06-1.06l4.5-4.5ZM3 15.75a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/>
								</svg>
							</div>
							<div class="flex flex-col gap-1 text-blue-600 group-hover:text-orange text-center text-md font-medium">
								<span id="seccuess-upload">
									Upload cover
								</span>
								{# <span id="file-name" class="font-normal text-gray-400">No file chosen</span> #}
							</div>
						</div>
					</div>
					<div class="absolute top-0 left-0 w-full h-full overflow-hidden cursor-pointer">
						<img id="previewImage" class="w-full h-full object-cover brightness-40" src="https://images.pexels.com/photos/245132/pexels-photo-245132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
					</div>
				</label>
			</div>
			<div class="p-7 bg-white rounded-lg shadow-xl flex flex-col gap-5 border-1 border-gray-200">
				<div class="">
					<h4 class="text-2xl text-darkblue font- font-unbounded">Event Overview</h4>
				</div>
				<div class="flex flex-col gap-2">
					<label for="event_title" class="text-sm text-darkblue font-unbounded">Event title
						<span class="text-red-500">*</span>
					</label>
					<input type="text" placeholder="Event title" class="px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" name="event_title" id="">
				</div>
				<div class="flex flex-col gap-2">
					<label for="event_summary" class="text-sm text-darkblue font-unbounded">Event summary
						<span class="text-red-500">*</span>
					</label>
					<textarea type="text" placeholder="Event summary" class="p-3 outline-darkblue border-1 border-gray-300 rounded-md resize-none h-[160px]" name="description" id=""></textarea>
				</div>
			</div>
			<div class="p-7 bg-white rounded-lg shadow-xl flex flex-col gap-5 border-1 border-gray-200">
				<div class="">
					<h4 class="text-2xl text-darkblue font- font-unbounded">Event Details</h4>
				</div>
				<div class="flex flex-col gap-2">
					<label for="event_summary" class="text-sm text-darkblue font-unbounded">Content
						<span class="text-red-500">*</span>
					</label>
					<textarea type="text" placeholder="Event content" class="p-3 outline-darkblue border-1 border-gray-300 rounded-md resize-none h-[160px]" name="content" id=""></textarea>
				</div>
			</div>
			<div class="p-7 bg-white rounded-lg shadow-xl flex flex-col gap-5 border-1 border-gray-200">
				<div class="">
					<h4 class="text-2xl text-darkblue font- font-unbounded">Event Data & Location</h4>
				</div>
				<div class="grid ">
					<select name="category" class="px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]">
						<option>select category</option>
						{% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="flex flex-col gap-2">
					<div class="text-sm text-darkblue font-unbounded">Event location
						<span class="text-red-500">*</span>
					</div>
					<ul class="grid w-full gap-6 md:grid-cols-2">
						<li>
							<input type="radio" id="hosting-small" name="venue" value="hosting-small" class="hidden peer"/>
							<label for="hosting-small" class="inline-flex items-center justify-between w-full p-4 text-orange bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-orange peer-checked:text-white hover:border-orange">
								<div class="flex justify-center items-center w-full">
									<div class="flex justify-center items-center gap-1">
										<div class="text-lg font-semibold">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="size-6">
												<path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
											</svg>
										</div>
										<div class="text-lg">Venue</div>
									</div>
								</div>
							</label>
						</li>
						<li>
							<input type="radio" id="hosting-big" name="online" value="hosting-big" class="hidden peer">
							<label for="hosting-big" class="inline-flex items-center justify-between w-full p-4 text-orange bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-orange peer-checked:text-white hover:border-orange">
								<div class="flex justify-center items-center w-full">
									<div class="flex justify-center items-center gap-1">
										<div class="text-lg font-semibold">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="size-6">
												<path d="M4.5 4.5a3 3 0 0 0-3 3v9a3 3 0 0 0 3 3h8.25a3 3 0 0 0 3-3v-9a3 3 0 0 0-3-3H4.5ZM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06Z"/>
											</svg>
										</div>
										<div class="text-lg">Online</div>
									</div>
								</div>
							</label>
						</li>
					</ul>
				</div>
				<div id="regionsAndCities" class="hidden flex flex-col gap-2"></label>
				<div class="flex  gap-5">
					<select name="region" class="px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" id="region-select">
						<option>select Region</option>
						{% for region in regions %}
							<option value="{{ region.id }}">{{ region.region }}</option>
						{% endfor %}
					</select>
					<select name="city" class="px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" id="city-select">
						<option>select city</option>

					</select>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<input id="link" type="text" placeholder="Link" class="hidden px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" name="link" id="">
			</div>
			<div class="grid grid-cols-2 gap-5">
				<div class="flex flex-col gap-2">
					<label for="event_summary" class="text-sm text-darkblue font-unbounded">Sales start
						<span class="text-red-500">*</span>
					</label>
					<input type="date" placeholder="Sales start" class="datePicker p-3 outline-darkblue border-1 border-gray-300 rounded-md resize-none h-[50]" name="eve_start_day">
				</div>
				<div class="flex flex-col gap-2">
					<label for="start_time" class="text-sm text-darkblue font-unbounded">Start time
						<span class="text-red-500">*</span>
					</label>
					<input type="time" placeholder="Start time" class="timePicker px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" name="eve_start_time">
				</div>
			</div>
			<div class="grid grid-cols-2 gap-5">
				<div class="flex flex-col gap-2">
					<label for="event_summary" class="text-sm text-darkblue font-unbounded">Sale end
						<span class="text-red-500">*</span>
					</label>
					<input type="date" placeholder="Sale end" class="datePicker p-3 outline-darkblue border-1 border-gray-300 rounded-md resize-none h-[50]" name="eve_end_day">
				</div>
				<div class="flex flex-col gap-2">
					<label for="event_end" class="text-sm text-darkblue font-unbounded">End time
						<span class="text-red-500">*</span>
					</label>
					<input type="time" placeholder="End time" class="timePicker px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" name="eve_end_time">
				</div>
			</div>
		</div>
		<div class="p-7 bg-white rounded-lg shadow-xl flex flex-col gap-5 border-1 border-gray-200">
			<div class="">
				<h4 class="text-2xl text-darkblue font- font-unbounded">Create tickets</h4>
			</div>
			<div class="flex flex-col gap-2">
				<ul class="grid w-full gap-6 md:grid-cols-2">
					<li>
						<input type="radio" id="price-paid" name="price" class="hidden peer"/>
						<label for="price-paid" class="inline-flex items-center justify-between w-full p-4 text-orange bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-orange peer-checked:text-white hover:border-orange">
							<div class="flex justify-center items-center w-full">
								<div class="flex justify-center items-center gap-1">
									<div class="text-lg">Paid</div>
								</div>
							</div>
						</label>
					</li>
					<li>
						<input type="radio" id="price-free" name="free" class="hidden peer">
						<label for="price-free" class="inline-flex items-center justify-between w-full p-4 text-orange bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-orange peer-checked:text-white hover:border-orange">
							<div class="flex justify-center items-center w-full">
								<div class="flex justify-center items-center gap-1">
									<div class="text-lg">Free</div>
								</div>
							</div>
						</label>
					</li>
				</ul>
			</div>
			<div class="grid grid-cols-2 gap-5">
				<div class="flex flex-col gap-2">
					<label for="event_summary" class="text-sm text-darkblue font-unbounded">Number of places
						<span class="text-red-500">*</span>
					</label>
					<input type="number" placeholder="Number of places" class=" p-3 outline-darkblue border-1 border-gray-300 rounded-md resize-none h-[50]" name="places">
				</div>
				<div class="flex flex-col gap-2">
					<label for="price" class="text-sm text-darkblue font-unbounded">Price
						<span class="text-red-500">*</span>
					</label>
					<input id="price-input" type="number" placeholder="Price in MAD" class=" px-3 outline-darkblue border-1 border-gray-300 rounded-md h-[50px]" name="price">
				</div>
			</div>

		</div>
		<div class="p-7 bg-white rounded-lg shadow-xl flex flex-col gap-5 border-1 border-gray-200">
			<div class="">
				<h4 class="text-2xl text-darkblue font- font-unbounded">Sponsorings</h4>
			</div>

			<div
				x-data="{ open: false }" class="flex flex-col gap-5">
				<!-- Toggle Button -->
				<button type="button" @click="open = !open" class="font-bold text-center items-center justify-between w-full p-4 text-orange bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-orange peer-checked:text-white hover:border-orange">
					+ Add Sponsorings
				</button>


				<div x-show="open" x-transition class="flex items-center gap-2">
    {% for sponsoring in sponsorings %}
        <div x-data="{ checked: {% if sponsoring.id in selectedSponsorings %} true {% else %} false {% endif %} }" class="mb-2 w-max flex flex-col items-center">
            <label for="sponsoring_{{ sponsoring.id }}" class="w-16 h-16 overflow-hidden cursor-pointer block">
                <img 
                    src="/assets/upload/{{ sponsoring.logo }}" 
                    alt="Sponsoring Logo" 
                    class="w-full h-full object-cover border-3 border-transparent rounded-md transition-all duration-200" 
                    :class="{ 'border-orange': checked, 'border-transparent': !checked }"
                >
            </label>
            <input 
                type="checkbox" 
                id="sponsoring_{{ sponsoring.id }}" 
                name="sponsorings_id[]" 
                value="{{ sponsoring.id }}" 
                class="sponsoring-checkbox hidden" 
                x-model="checked"
            >
        </div>
    {% endfor %}
</div>

			</div>


		</div>
		<div class="">
			<button type="submit" class="w-full h-[45px] rounded-md bg-orange hover:bg-darkOrange text-white text-md font-unbounded cursor-pointer">
				Publish
			</button>
		</div>
	</form>
</main>{% endblock %}{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
	flatpickr(".datePicker", {
dateFormat: "Y-m-d",
minDate: "today",
disableMobile: true
});
flatpickr(".timePicker", {
enableTime: true,
noCalendar: true,
dateFormat: "H:i",
time_24hr: true,
disableMobile: true
});
</script>
<script>
	document.getElementById('file-upload').addEventListener('change', function () {
const fileName = document.getElementById('seccuess-upload');
if (this.files.length > 0) {
fileName.textContent = "Seccuss";
} else {
fileName.textContent = 'No file chosen';
}
});
</script>

<script>
	const priceFreeRadio = document.getElementById('price-free');
const pricePaidRadio = document.getElementById('price-paid');
const priceInput = document.getElementById('price-input');


function togglePriceInput() {
if (priceFreeRadio.checked) {
priceInput.disabled = true;
} else {
priceInput.disabled = false;
}
}


priceFreeRadio.addEventListener('change', () => {
togglePriceInput();
pricePaidRadio.checked = false;
});

pricePaidRadio.addEventListener('change', () => {
togglePriceInput();
priceFreeRadio.checked = false;
});

togglePriceInput();
</script>

<script>
	const venue = document.getElementById('hosting-small');
const online = document.getElementById('hosting-big');
const linkInput = document.getElementById('link');
const categoriesAndCities = document.getElementById('regionsAndCities');

online.addEventListener('change', () => {
linkInput.classList.remove('hidden');
categoriesAndCities.classList.remove('hidden');
venue.checked = false;
});

venue.addEventListener('change', () => {
linkInput.classList.add('hidden');
categoriesAndCities.classList.remove('hidden');
online.checked = false;
});
</script>
<script>
	document.getElementById('file-upload').addEventListener('change', function () {
const fileName = document.getElementById('seccuess-upload');
if (this.files.length > 0) {
fileName.textContent = "Seccuss";
} else {
fileName.textContent = 'No file chosen';
}
});
</script>
<script>
	document.getElementById("file-upload").addEventListener("change", function (event) {
const file = event.target.files[0];
if (file) {
const reader = new FileReader();
reader.onload = function (e) {
const img = document.getElementById("previewImage");
img.src = e.target.result;
img.style.display = "block";
};
reader.readAsDataURL(file);
}
});
</script>

<script>
	document.getElementById('region-select').addEventListener('change', function () {
const regionId = this.value;
const citySelect = document.getElementById('city-select');

citySelect.innerHTML = '<option>select city</option>';

if (regionId) {
fetch (`/get-cities-by-region?id=${regionId}`).then(response => response.json()).then(cities => {
cities.forEach(city => {
const option = document.createElement('option');
option.value = city.id;
option.textContent = city.ville;
citySelect.appendChild(option);
});
}).catch(error => console.error('Error:', error));
}
});
</script>{% endblock %}
